@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
:root {
    --blue-sidebar: #1992D4;
    --gray-main-content: #E2E8F0;
}
#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: minmax(150px, calc(max-content + 5px)) 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main-content";
}
/*Sidebar*/
#sidebar, .user-welcome {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#sidebar {
    background-color: var(--blue-sidebar);
}
.sidebar-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 8px;
    filter: invert();
}
.website-icon {
    filter: invert();
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
}
.website-title {
    color: white;
}
li {
    list-style-type: none;
    color: white;
    display: flex;
    align-items: center;
}
.website, .top-header, .bottom-header, .search, .account-card, .header-button-container, .welcome-container .main-nav, .help-nav{
    display: flex;
    flex-direction: row;
}
.website {
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.website, .main-nav, .help-nav { 
    margin-bottom: 16px;
    margin-left: 12.5%;
    width: 12.5vw
}
.main-nav {
    margin-bottom: 32px;
}
.main-nav, .help-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.nav-item {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
/*header*/
.top-header, .bottom-header {
    align-items: center;
    justify-content: space-around;
    margin-top: 16px;
}
.top-header {
    gap: 16px;
}
.bell-icon {
    width: 32px;
    height: 32px;
}
.profile-picture-small {
    border-radius: 32px;
    width: 32px;
    height: 32px;
}
.profile-picture-large {
    width: 64px;
    height: 64px;
    border-radius: 64px;
}

.search-icon {
    margin-right: 8px;
    width: 24px;
}
.account-card {
    gap: 16px;
    align-items: center;
}
.account-name-small {
    font-size: 1.25rem;
}
.search-bar {
    height: 1.75rem;
    border-radius: 8px;
    width: 40vw;
    background-color: var(--gray-main-content);
    border: none;
}
header {
    grid-area: header;
    box-shadow: 2px 2px 2px 2px lightgray;
    position: relative;
}
.header-button-container {
    gap: 8px;
}
.header-button {
    background-color: var(--blue-sidebar);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 24px;
    font-size: 1rem;
    font-weight: bold;
}
.header-button:hover {
    cursor: pointer;
}
.welcome-container {
    gap: 8px;
    display: flex;
    flex-direction: row;
}
/*main-content*/
#main-content {
    grid-area: main-content;
    background-color: var(--gray-main-content);
    display: grid;
    grid-template: "project announcements" 1fr "project trending" 1fr / 4fr 1fr;
}
#projects {
    grid-area: project;
    display: flex;
    flex-direction: column;
}
#card-container {
    display: grid;  
    margin-left: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.card {
    background-color: white;
    width: 250px;
    height: 125px;
    border: 20px solid white;
    box-shadow: -6px 0px 0px 0px yellow;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.actions {
    display: flex;
    justify-content: flex-end;
}
.card-action {
    width: 16px;
    height: 16px;
}
.project-title {
    font-size: 1rem;
}
.project-description {
    font-size: 0.75rem;
    color: gray;
}
#announcements-container {
    grid-area: announcements;
}
#trending-container {
    grid-area: trending;
}
.content-title {
    margin: 16px;    
}