@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
:root {
    --blue-sidebar: #1992D4;
    --gray-main-content: #E2E8F0;
}
#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: minmax(150px, calc(max-content + 5px)) 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main-content";
}
/*Sidebar*/
#sidebar, .user-welcome {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
#sidebar {
    background-color: var(--blue-sidebar);
    box-shadow: 2px 2px 2px 2px lightgray;
    margin-right: 2px;
}
.sidebar-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 8px;
    filter: invert();
}
.website-icon {
    filter: invert();
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
}
.website-title {
    color: white;
}
li {
    list-style-type: none;
    color: white;
    display: flex;
    align-items: center;
}
.website, .top-header, .bottom-header, .search, .account-card, .header-button-container, .welcome-container .main-nav, .help-nav{
    display: flex;
    flex-direction: row;
}
.website {
    margin-top: 32px;
    justify-content: center;
    align-items: center;
}
.website, .main-nav, .help-nav { 
    margin-bottom: 16px;
    width: max(250px, 12.5vw);
}
.main-nav {
    margin-bottom: 32px;
}
.main-nav, .help-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 12.5%
}
.nav-item {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
/*header*/
.top-header, .bottom-header {
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 16px;
}
.top-header {
    gap: 16px;
}
.bell-icon {
    width: 32px;
    height: 32px;
}
.profile-picture-small {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.profile-picture-large {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.search-icon {
    margin-right: 8px;
    width: 24px;
}
.account-card {
    gap: 16px;
    align-items: center;
}
.account-name-small {
    font-size: 1.25rem;
}
.search-bar {
    height: 1.75rem;
    border-radius: 8px;
    width: 40vw;
    background-color: var(--gray-main-content);
    border: none;
}
header {
    grid-area: header;
    box-shadow: 2px 2px 2px 2px lightgray;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-button-container {
    gap: 8px;
    width: 200px;
}
.header-button {
    background-color: var(--blue-sidebar);
    color: white;
    padding: 10px;
    width: 70px;
    border: none;
    border-radius: 24px;
    font-size: 0.75rem;
    font-weight: bold;
}
.header-button:hover {
    cursor: pointer;
}
.welcome-container {
    gap: 8px;
    display: flex;
    flex-direction: row;
}
/*main-content*/
/* Projects/Cards */
#main-content {
    grid-area: main-content;
    background-color: var(--gray-main-content);
    display: grid;
    grid-template: "project announcements" 1fr "project trending" 1fr / 4fr 1fr;
}
#projects {
    grid-area: project;
    display: flex;
    flex-direction: column;
}
#card-container {
    display: grid;  
    margin-left: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.card {
    background-color: white;
    width: 250px;
    height: 125px;
    border: 20px solid white;
    box-shadow: 2px 2px 2px 2px lightgray, -6px 0px 0px 0px yellow;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.actions {
    display: flex;
    justify-content: flex-end;
}
.card-action {
    width: 16px;
    height: 16px;
}
.content-title {
    margin: 8px;    
}
.project-title {
    font-size: 1rem;
}
.project-description {
    font-size: 0.75rem;
    color: gray;
}
/*Announcements*/
#announcements-container {
    grid-area: announcements;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 16px;
    align-items: center;
}
.all-announcements {
    background-color: white;
    border-radius: 8px;
    border: 4px solid white;
    display: grid;
    width: 200px;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    box-shadow: 2px 2px 2px 2px lightgray; 
}
.announcement {
    gap: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.announcement:not(:last-child) {
    border-bottom: 2px solid gray;
    padding-bottom: 8px;
}
.announcement:not(:first-child) {
    padding-top: 8px
}
.small-bold {
    font-size: 0.75rem;
    margin-left: 4px;
}
.announcement-description {
    font-size: 0.5rem;
    color: gray;
    margin-left: 4px;
}
/* trending */
#trending-container {
    grid-area: trending;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 16px;
    margin-bottom: 8px;
    align-items: center;
}
.trending-users {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: white;
    border: 20px solid white;
    border-radius: 8px;
    width: 200px;
    
}
.trending-icon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%
}
.trending-app {
    display: flex;
    flex-direction: column;
}
.trending {
    display: flex;
    flex-direction: row;
}
.handle {
    font-size: .75rem;
}
.trending-app {
    font-size: .75rem;
    color: gray;
}